@import "utils";

:host {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.actions-wrapper {
    display: flex;
    justify-content: center;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 35px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    
    @include button-animation();
    
    img {
        height: 50px;
    }
}