@import "medias";

:host {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    row-gap: 45px;
    
    @include _480() { grid-template-columns: repeat(3, minmax(0, 1fr)); }    
    @include _768() { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    @include _980() { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    @include _1280() { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    @include _1600() { grid-template-columns: repeat(7, minmax(0, 1fr)); }
}