@import "./fonts";

.text-input {
  background-color: var(--secondary-background-color);
  outline: none;
  padding: 12px 14px;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  
  @include font-size-small();
  @include font-family-primary();
  @include font-color-secondary();
  @include fast-transition();

  &:focus {
    box-shadow: 0 1px 1px 0 $box-shadow-color;
  }
  
  &::-webkit-input-placeholder { @include font-color-secondary(); }
  &:-moz-placeholder { @include font-color-secondary(); }
  &::-moz-placeholder { @include font-color-secondary(); }
  &:-ms-input-placeholder { @include font-color-secondary(); }
  &::-ms-input-placeholder { @include font-color-secondary(); }
  &::placeholder { @include font-color-secondary(); }
}

.input-container, .input-container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
