@mixin transition {
  transition: var(--animation-transition) all;
}

@mixin fast-transition {
  transition: var(--animation-fast-transition) all;
}

$box-shadow-color: #9793FF;
$primary-font-family: Montserrat, serif;
$secondary-font-family: Sniglet, serif;