@import "./medias";
@import "./inputs";

@mixin disable-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  outline: none;

  &:focus, &:active {
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}