@import "utils";
@import "transitions";
@import "medias";
@import "fonts";

button {
  border-radius: 50px;
  background: linear-gradient(to right, #EFA3FF, #AA8BFF, #87A6FF);
  border: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;

  @include disable-selection();
}

button::before {
  content: "";
  position: absolute;
  background-color: var(--primary-background-color);
  border-radius: 48px;
  z-index: -1;
  
  @include transition();
}

button::after {
  content: attr(data);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(to right, #EFA3FF, #AA8BFF, #87A6FF);
  -webkit-background-clip: text;
  color: transparent;

  @include transition();
}

@include not-mobile() {
  button:hover::before {
    background: linear-gradient(to right, #EFA3FF, #AA8BFF, #87A6FF);
  }

  button:hover::after {
    background: transparent;
    color: white;
  }
}

@include mobile() {
  button:active::before {
    background: linear-gradient(to right, #EFA3FF, #AA8BFF, #87A6FF);
  }

  button:active::after {
    background: transparent;
    color: white;
  }
}


button.normal {
  padding: 10px 25px;
  @include font-size-normal();
  
  &::before {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
  }
}

button.big {
  padding: 15px 36px;
  @include font-size-big();

  &::before {
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
  }
}

button.huge {
  padding: 20px 60px;
  @include font-size-huge();

  &::before {
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
  }
}

button.full-width {
  width: 100%;
}