@import "../../styles/advert-styles";

:host {
  display: flex;
  flex-direction: column;
  gap: 90px;
  background: var(--primary-background-color);
  
  @include transition();
  
  @include not-mobile() {
    gap: 150px;
  }
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  
  height: 100dvh;
  height: 100vh;
  
  @include not-mobile() {
    gap: 40px;
  }
}


























///*OTHER DEVICES*/
//
//@media only screen and (min-width: 974px) and (max-width: 1150px) {
//
//}
//
//
//@media only screen and (min-width: 760px) and (max-width: 973px) {
//
//}
//
//@media only screen and (min-width: 370px) and (max-width: 759px) {
//
//
//  /*HEADER*/
//
//  .header {
//    /*display: flex;
//    justify-content: space-between;
//    margin-top: 30px;*/
//  }
//
//  .header-actions  {
//    /*display: flex;
//    justify-content: space-between;*/
//    /*align-items: center;*/
//    gap: 150px;
//  }
//
//  .header-theme-selector {
//    /*display: flex;
//    justify-content: space-between;
//    background: white;
//    border-radius: 30px;
//    padding: 5px;
//    align-items: center;*/
//    gap: 30px;
//    height: 60px;
//  }
//
//  .header-theme-selector img {
//    display: block;
//  }
//
//  .header-active-theme {
//    /*border-radius: 30px;
//    background: .E5DEFF;*/
//    height: 60px;
//    width: 60px;
//    padding: 2px;
//  }
//
//
//
//  /* BANNER */
//
//  .banner {
//    margin-top: 150px;
//    display: grid;
//    grid-template-columns: 1fr;
//    align-items: center;
//  }
//
//  .banner-info {
//    display: grid;
//    grid-template-columns: 1fr;
//    gap: 30px;
//  }
//
//  .banner-info-header {
//    margin: 0;
//    padding: 0;
//    font-family: $secondary-font-family;
//    font-size: 60px;
//    font-style: normal;
//    font-weight: 400;
//  }
//
//  .banner-info-description {
//    display: none;
//  }
//
//
//
//  .banner-info-description-logo {
//    color: .7972DD;
//    font-family: $secondary-font-family;
//    font-size: 25px;
//    font-style: normal;
//    font-weight: 600;
//  }
//
//
//  /*BUTTON*/
//
//  .banner-info-button {
//    border-radius: 100px;
//    font-size: 30px;
//    z-index: 1;
//    padding: 30px 60px;
//    margin-top: 30px;
//    width: 100%;
//  }
//
//  .banner-info-button::before {
//    content: "";
//    position: absolute;
//    top: 7px;
//    right: 7px;
//    bottom: 7px;
//    left: 7px;
//    background-color: .F5F5F5;
//    border-radius: 48px;
//    z-index: -1;
//  }
//
//  .banner-info-button::after {
//    content: attr(data);
//    font-family: $font-family;
//    font-size: 40px;
//    font-style: normal;
//    font-weight: 600;
//    background: .7972DD;
//    -webkit-background-clip: text;
//    color: transparent;
//  }
//
//
//  /*INFO-BLOCKS*/
//
//  .info-blocks {
//    display: flex;
//    /*justify-content: space-between;
//    align-items: center;*/
//    justify-content: center;
//    gap: 200px;
//    margin-top: 150px;
//    /*gap: 100px;*/
//  }
//
//  .info-blocks {
//    width: 400px;
//    border-radius: 40px;
//    background: .F5F5F5;
//    box-shadow: 1px 1px 1px 0px .9793FF;
//    padding: 40px;
//    display: flex;
//    gap: 25px;
//    flex-direction: column;
//    align-items: center;
//    text-align: center;
//    cursor: pointer;
//  }
//
//  .info-blocks p {
//    margin: 0;
//  }
//
//  .info-blocks:hover {
//    background: linear-gradient(180deg, .DE59FB 0%, .A383FF 52.08%, .87A6FF 100%);
//  }
//
//  .info-blocks-creating {
//    //background-image: url('images/create-image.svg');
//    background-repeat: no-repeat;
//    background-position: center;
//    background-size: contain;
//
//    height: 100px;
//    width: 100px;
//  }
//
//  .info-blocks:hover .info-blocks-creating {
//    //background-image: url('images/create-white.svg');
//  }
//
//  .info-blocks-getting {
//    //background-image: url('images/idea-image.svg');
//    background-repeat: no-repeat;
//    background-position: center;
//    background-size: contain;
//
//    height: 100px;
//    width: 100px;
//  }
//
//  .info-blocks:hover .info-blocks-getting {
//    //background-image: url('images/idea-white.svg');
//  }
//
//  .info-blocks-header {
//    color: .7972DD;
//    font-family: $font-family;
//    font-size: 25px;
//    font-style: normal;
//    font-weight: 600;
//    /*transition: color 0.3s;*/
//  }
//
//  .info-blocks:hover .info-blocks-header, .info-blocks:hover .info-blocks-description {
//    color: white;
//  }
//
//  .info-blocks-description {
//    color: .9B96DB;
//    font-family: $font-family;
//    font-size: 20px;
//    font-style: normal;
//    font-weight: 400;
//  }
//
//
//  /*3 LINE*/
//
//  .header-decoration-wrapper {
//    position: relative;
//    margin-top: 150px;
//    width: 100%;
//    height: 50px;
//    overflow-x: hidden;
//  }
//
//  .header-decoration {
//    background: white;
//    display: flex;
//    align-items: center;
//    gap: 50px;
//    position: absolute;
//    left: -40px;
//    height: 100%;
//
//    color: rgba(121, 114, 221, 0.38);
//    text-align: center;
//    font-family: $font-family;
//    font-size: 30px;
//    font-style: normal;
//    font-weight: 600;
//  }
//
//  .header-decoration p {
//    margin: 0;
//  }
//
//  /*3 LINE - CLOUDS*/
//
//  .steps {
//    display: flex;
//    justify-content: space-between;
//    margin-top: 150px;
//    align-items: center;
//  }
//
//  .clouds {
//    display: grid;
//    grid-template-columns: 1fr;
//    gap: 40px;
//  }
//
//  .clouds p {
//    color: .A09BE9;
//    text-align: center;
//    font-family: $font-family;
//    font-size: 23px;
//    font-style: normal;
//    font-weight: 500;
//  }
//
//
//  /*FOOTER*/
//
//  .footer {
//    margin-top: 150px;
//    bottom: 0;
//    background: white;
//    text-align: center;
//    position: relative;
//  }
//
//  .bottom-text {
//    display: flex;
//    justify-content: center;
//    gap: 5px;
//  }
//
//  .text-footer {
//    color: .7972DD;
//    font-family: $secondary-font-family;
//    font-size: 15px;
//    font-style: normal;
//    font-weight: 400;
//    line-height: normal;
//    margin-bottom: 10px;
//  }
//
//  .text-footer {
//    color: .7972DD;
//    font-family: $font-family;
//    font-size: 15px;
//    font-style: normal;
//    font-weight: 400;
//    line-height: normal;
//    margin-bottom: 10px;
//  }
//
//  .copyright {
//    margin-bottom: 10px;
//  }
//
//  .arrow {
//    position: absolute;
//    bottom: 0;
//    right: 0;
//    border-radius: 20px 0px 0px 0px;
//    background: .CCC9F2;
//    padding: 10px;
//    width: 50px;
//    height: 50px;
//  }
//
//  .arrow-image {
//    margin: auto;
//  }
//}
//
//@media only screen and (min-width: 315px) and (max-width: 369px) {
//
//}

