@import "transitions";
@import "medias";

:host {
  display: flex;
  flex-direction: column;
  gap: 90px;
  background: var(--primary-background-color);
  
  @include transition();
  
  @include not-mobile() {
    gap: 150px;
  }
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  
  height: 100dvh;
  height: 100vh;
  
  @include not-mobile() {
    gap: 40px;
  }
}