<p *ngIf="type === 'p'" [ngClass]="textClass" [innerHTML]="text"></p>
<h1 *ngIf="type === 'h1'" [ngClass]="textClass" [innerHTML]="text"></h1>
<h2 *ngIf="type === 'h2'" [ngClass]="textClass" [innerHTML]="text"></h2>
<h3 *ngIf="type === 'h3'" [ngClass]="textClass" [innerHTML]="text"></h3>
<h4 *ngIf="type === 'h4'" [ngClass]="textClass" [innerHTML]="text"></h4>
<h5 *ngIf="type === 'h5'" [ngClass]="textClass" [innerHTML]="text"></h5>
<h6 *ngIf="type === 'h6'" [ngClass]="textClass" [innerHTML]="text"></h6>
<span *ngIf="type === 'span'" [ngClass]="textClass" [innerHTML]="text"></span>