<div class="item">
    <div class="item-image-wrapper">
        @if (item.imageSrc) {
            <div class="item-image">
                <img [src]="item.imageSrc" alt="Картинка"/>
            </div>
        } @else {
            <div class="item-image-placeholder">
                <img src="assets/icons/wishlist/create-placeholder.svg" alt="Картинка"/>
            </div>
        }
    </div>
    
    @if (isEditingAllowed()) {
        <div class="item-remove-button" (click)="onDeleteClicked()">
            <img src="assets/icons/shared/cross-filled.svg" alt="Видалити"/>
        </div>
    }
    
    <div class="item-information">
        <app-text type="h3" [text]="item.title" [inOneLine]="true"></app-text>

        @if (item.price) {
            <app-text type="h3" [text]="item.price.toString() + ' грн.'" fontWeight="medium"></app-text>
        }
    </div>
</div>