/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font-color: #7972DD; /* Default color */
  
  --primary-background-color: white;
  --secondary-background-color: rgb(249, 249, 249);
}

body[is-light-theme="false"] {
  --primary-font-color: #32a852; /* Dark theme color */
  
  --primary-background-color: #1A1729;
  --secondary-background-color: #211E32;
}