.avatar-wrapper {
    background: var(--secondary-background-color);
    border-radius: 100px;
    cursor: pointer;
    overflow: hidden;
    align-self: center;

    img {
        display: block;
    }
}

.avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.avatar-placeholder {
    width: 50px;
    height: 50px;
    padding: 10px;
}