:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  background: var(--secondary-background-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 0;
}

a {
  padding: 21px 14px;
  width: 32px;
}

a.active img.active {
  display: block;
}

a:not(.active) img.inactive {
  display: block;
}

img {
  display: none;
}

.divider {
  background: var(--primary-background-color);
  width: 100%;
  height: 2px;
}