<div class="container">
    <a [routerLink]="['/wishlist']" routerLinkActive="active">
        <img class="active" src="assets/icons/home/wishlist-active.svg" alt="Wishlist Active">
        <img class="inactive" src="assets/icons/home/wishlist-inactive.svg" alt="Wishlist Inactive">
    </a>
    
    <div class="divider"></div>
    
    <a [routerLink]="['/ideas']" routerLinkActive="active">
        <img class="active" src="assets/icons/home/ideas-active.svg" alt="Ideas Active">
        <img class="inactive" src="assets/icons/home/ideas-inactive.svg" alt="Ideas Inactive">
    </a>
</div>