<app-form title="Побажання" 
          [submitButtonText]="this.input ? 'РЕДАГУВАТИ' : 'СТВОРИТИ'"
          [formGroup]="form" (onSubmit)="onSubmit()">

    <div class="input-container">
        <app-input-image type="photo" [imageSrc]="imageSrc"></app-input-image>
    </div>
    
    <div class="input-container">
        <input class="text-input" placeholder="Посилання..." formControlName="url">
        <div *ngIf="url?.invalid && (url?.dirty || url?.touched)">
            <app-text-error *ngIf="url?.errors?.['maxlength']">Назве не може бути довше 300 символів.</app-text-error>
            <app-text-error *ngIf="url?.errors?.['url']">Введіть коректне посилання.</app-text-error>
        </div>
    </div>
    
    <div class="input-container">
        <input class="text-input" placeholder="Назва..." formControlName="title">
        <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
            <app-text-error *ngIf="title?.errors?.['required']">Назва має бути заповнена.</app-text-error>
            <app-text-error *ngIf="title?.errors?.['maxlength']">Назве не може бути довше 100 символів.</app-text-error>
        </div>
    </div>
    
    <div class="input-container">
        <input class="text-input" placeholder="Ціна..." formControlName="price" type="number">
    </div>
    
    <div class="input-container">
        <input class="text-input" placeholder="Опис..." formControlName="description">
        <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            <app-text-error *ngIf="description?.errors?.['maxlength']">Опис не може бути довше 500 символів.</app-text-error>
        </div>
    </div>
    
</app-form>