<div class="header-main">
    <img class="header-logo" src="assets/icons/advert/logo.svg" alt="Логотип">
    
    @if (title) {
        <app-text [text]="title" type="h1"></app-text>
    }
</div>

<div class="header-actions">
    <img class="header-account" src="assets/icons/advert/account.svg" alt="Аккаунт">

    <div class="header-theme-selector" (click)="toggleTheme()">
        <div [ngClass]="{'header-active-theme': themeService.Value() === Theme.Light }">
            <img src="assets/icons/advert/theme-mode-light.svg" alt="Світла тема">
        </div>

        <div [ngClass]="{'header-active-theme': themeService.Value() === Theme.Dark }">
            <img src="assets/icons/advert/theme-mode-dark.svg" alt="Темна тема">
        </div>
    </div>
</div>