:host {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-button {
    cursor: pointer;
}