<!--<div class="item-container">-->
<!--    <div class="item-image-wrapper">-->
<!--        <div class="item-image-container">-->
<!--            <img src="assets/icons/wishlist/create-placeholder.svg">-->
<!--        </div>-->
<!--    </div>-->
<!--    -->
<!--    <div class="item-image">-->
<!--        <app-gradient-button text="ДОДАТИ" [fullWidth]="true"></app-gradient-button>-->
<!--    </div>-->
<!--</div>-->

@if (isLoaded()) {
    
    @if (wishlist() === null) {
        <app-wishlist-create></app-wishlist-create>
    } @else {
        
    }
}