<div class="item">
    <div class="item-image-wrapper" (click)="onItemClicked()">
        @if (item.imageSrc) {
            <div class="item-image">
                <img [src]="item.imageSrc" alt="Картинка"/>
            </div>
        } @else {
            <div class="item-image-placeholder">
                <img src="assets/icons/wishlist/create-placeholder.svg" alt="Картинка"/>
            </div>
        }
    </div>
    
    <div class="item-information" (click)="onItemClicked()">
        <app-text type="h3" [inOneLine]="true">{{item.title}}</app-text>

        @if (item.price) {
            <app-text type="h3" fontWeight="medium">{{item.price.toString()}} грн.</app-text>
        }
    </div>

    @if (isEditingAllowed()) {
        <div class="item-remove-button" (click)="onDeleteClicked()">
            <img src="assets/icons/shared/cross-filled.svg" alt="Видалити"/>
        </div>
    }
</div>