:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

app-gradient-button {
  align-self: center;
}

//you can use a lot of ready to go styles with tailwhind or material design/bootstrap etc and use classes instead of writing own scss