@import "medias";
@import "utils";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  
  @include content-padding();
  
  @include not-mobile() {
    gap: unset;
    flex-direction: row;
    justify-content: space-between;
  }
}

.clouds {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  
  @include not-mobile() {
    gap: 40px;
  }
}

.clouds img {
  width: 250px;
  
  @include tablet() {
    width: 230px;
  }
  
  @include pc() {
    width: 300px;
  }
}

.clouds p {
  color: #A09BE9;
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
}