<div class="form" [formGroup]="authForm">
    <app-text text="Авторизація" type="h2" textAlign="center"></app-text>

    <div class="auth-choice">
        <app-text text="Ще не маєте акаунту?" type="h4"></app-text>
        <app-text text="Реєстрація" [underline]="true" type="h4" fontWeight="medium" (click)="onSignUpClicked.emit()"></app-text>
    </div>

    <div class="input-container">
        <input placeholder="Електронна пошта" formControlName="email" type="email">
        <div *ngIf="submitAttempted() && email?.invalid">
            <app-text-error *ngIf="email?.errors?.['required']" text="Електронна пошта має бути заповнена."></app-text-error>
            <app-text-error *ngIf="email?.errors?.['maxlength']" text="Електронна пошта не може бути довше 100 символів."></app-text-error>
            <app-text-error *ngIf="email?.errors?.['email']" text="Невірний формат електронної пошти."></app-text-error>
        </div>
    </div>

    <div class="input-container">
        <input placeholder="Пароль" formControlName="password" type="password">
        <div *ngIf="submitAttempted() && password?.invalid">
            <app-text-error *ngIf="password?.errors?.['required']" text="Пароль має бути заповнений."></app-text-error>
            <app-text-error *ngIf="password?.errors?.['maxlength']" text="Парот не може бути довше 50 символів."></app-text-error>
        </div>
    </div>

    <div class="submit-button-container">
        <app-text-error *ngIf="submitFailureMessage() !== ''" [text]="submitFailureMessage()" textAlign="center"></app-text-error>

        <app-gradient-button [text]="'УВІЙТИ'" (click)="onSubmit()"></app-gradient-button>
    </div>
</div>