@import "../../styles/advert-styles";

.container-mobile {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  text-align: center;
  
  @include not-mobile() {
    display: none;
  }
}

.container-pc {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  align-items: center;
  
  @include content-padding();
  
  @include mobile() {
    display: none;
  }
}

.banner-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
}

.banner-info-header {
  color: var(--primary-font-color);
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 35px;
  
  @include tablet() {
    line-height: 40px;
    font-size: 50px;
  }
  
  @include pc() {
    line-height: 50px;
    font-size: 60px;
  }  

  span {
    font-family: $primary-font-family;
    font-weight: 500;
    font-size: 30px;
    
    @include tablet() {
      font-size: 40px;
    }
    
    @include pc() {
      font-size: 50px;
    }
  }
}

.banner-info-description {
  color: var(--secondary-font-color);
  font-family: $primary-font-family;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.banner-info-description-logo {
  color: var(--primary-font-color);
  font-family: $secondary-font-family;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.banner-image {
  text-align: center;

  img {
    width: 100%;
    max-width: 500px;
  }
}

input {
  @include input();
}
