<div class="container-mobile">
    <h1 class="banner-info-header">WISH-LIST <span>для тебе!</span></h1>

    <div class="banner-image">
        <img src="assets/icons/advert/banner.svg" alt="Банер">
    </div>
    
    <button class="banner-info-button" data="СТВОРИ СВІЙ"></button>
</div>

<div class="container-pc">
    <div class="banner-info">
        <h1 class="banner-info-header">WISH-LIST <span>для тебе!</span></h1>
        <h2 class="banner-info-description">Отримуй подарунки із задоволенням з <br/><span class="banner-info-description-logo">WISH-LIST.UA!</span> Просто додай все, що бажаєш та очікуй свята з нетерпінням!</h2>
    
        <div>
            <button class="banner-info-button" data="СТВОРИ СВІЙ"></button>
        </div>
    </div>
    
    
    <div class="banner-image">
        <img src="assets/icons/advert/banner.svg" alt="Банер">
    </div>
</div>